@model MedManagement.Data.DoctorMedicalFacility

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center;">Details</h1>

<div>

    <hr />
    <dl class="row" style="margin:auto;">
        <div class="col-md-4" style="margin:auto;">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class = "col-sm-4">
            Medical facility
        </dt>
        <dd class = "col-sm-4">
            @Html.DisplayFor(model => model.MedicalFacility.Name)
        </dd>
        </div>
    </dl>
</div>
<div style="text-align:center; padding-top: 20px;">
    <a type="button" class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> 
    <a type="button" class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
